<% unless @contacts.nil? %>
  <div id='menu_left'>  
    <%= render :partial => 'menu_left', :locals => { :contacts => @contacts, :messages => @messages, :contact_id => @contact_id } %>
  </div>
  <div id='conversation'>
    <%= render 'conversation', :contact => @contacts.first %>
  </div>
<% else %>
  <%=t 'messages.no_message' %>
<% end %>
