<% unless @contacts.nil? %>
  <div id='messaged_contacts'>  
    <%= render 'messaged_contacts', :contacts => @contacts %>
  </div>
  <div id='conversation'>
    <%= render 'conversation', :contact => @contacts.first %>
  </div>
<% else %>
  <%=t 'messages.no_message' %>
<% end %>
