<div id='new_session' class='white_block'>
  <div id='new_engaccino_account'>
    <%= render 'new_engaccino_account' %>
  </div>
  <div id='new_social_connect'>
    <%= render 'new_social_connect' %>
  </div>
</div>
