<div class="right dashed" width="500">
  <h2><%=t 'users.new.or_use_social_connect' %></h2>
  <%= link_to "#{t('users.new.connect_via')} Facebook", '#', :class => 'button grey_gradient big_tall margin_right slightly_round left' %>
  <%= link_to "#{t('users.new.connect_via')} Twitter", '#', :class => 'button grey_gradient big_tall slightly_round right' %>
</div>