<div class="white_block">
	<div class="left margin_right">
	  <p><%=t 'users.edit.speed_up_by_import' %></p>
	</div>
	<div class="left">
	  <%= link_to "#{t('users.edit.import_from')} LinkedIn", '#', :class => 'button grey_gradient big margin_right slightly_round left' %>
	  <%= link_to "#{t('users.edit.import_from')} Facebook", '#', :class => 'button grey_gradient big slightly_round right' %>
	</div>
	<br /><br />
</div>