<% if object.errors.any? %>
  <div id="error_explanation" class="white_block error">
      We couldn't save this <%= object.class.to_s.underscore.humanize.downcase %>:
      <% object.errors.full_messages.each do |message| %>
        <%= message.downcase %><%= ", " unless message == object.errors.full_messages.last %>
      <% end %>
  </div>
<% end %>