<% if object.errors.any? %>
  <div id="error_explanation">
    <h2> 
      We couldn't save this <%= object.class.to_s.underscore.humanize.downcase %>
    </h2>
    <p><%= pluralize(object.errors.count, "error") %>:</p>
    <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message.downcase %></li>
    <% end %>
    </ul>
  </div>
<% end %>