<div class='white_block'>
  <h2><%=t '.summary' %></h2>
  <br />
  <%= link_to t(:candidate_sign_up), candidate_signup_path, :class => 'button blue round' %>&nbsp;&nbsp;&nbsp;
	<%= link_to t(:recruiter_sign_up), recruiter_signup_path, :class => 'button red round' %>
	<br />
</div>