<div id="education" class="white_block">
  <h2><%=t "candidates.education.title" %></h2>
  <%= f.fields_for :educations do |education_builder| %>
    <%= render 'education_fields', :f => education_builder %>
  <% end %>
  <% @candidate.educations.each do |education| %>
  	<br /><br/><br />
  <% end %>
</div>