<div id="language" class="white_block">
  <h2>Languages</h2>
  <%= f.fields_for :languages do |language_builder| %>
    <%= language_builder.text_field :name, :id => 'language', :class => 'field margin_right' %>
  <% end %>
  <br /><br />
</div>