<h2><%=t 'candidates.new.or_use_social_connect' %></h2>
<%= link_to "#{t('candidates.new.connect_via')} Facebook", '#', :class => 'grey_gradient button', :id => "facebook_connect" %>
<%= link_to "#{t('candidates.new.connect_via')} Twitter", '#',  :class => 'grey_gradient button' %>
