<div id="professional_experience" class="white_block">
  <h2><%=t "candidates.professional_experience" %></h2>
  <%= f.fields_for :experiences %>
  <%= f.link_to_add '+', :experiences, :class => 'button blue round', :title => t('candidates.experience.add') %>
</div>