<div id="professional_experience" class="white_block">
  <h2><%=t "candidates.professional_experience" %></h2>
  <%= f.fields_for :experiences do |experience_builder| render 'experience_fields', :f => experience_builder end %>
  <%= link_to_add '+', f, :experiences, t('candidates.experience.add') %>
  <br />
</div>