<div id="resume">
  <%= render 'resume_timeline', :candidate => @candidate %>
  <div class="experience" id="experiences">
  	<%= render 'resume_experiences', :candidate => @candidate %>
  </div>
  <div class='education' id='educations'>
  	<%= render 'resume_educations', :candidate => @candidate %>
  </div>
</div>