<h1>PROFESSIONAL EXPERIENCE</h1>
<table>
<% unless @experiences.nil? %>
  <% @experiences.each do |experience| %>
    <tr id='experience_<%= experience.id %>'>
		  <%= render 'resume_experience', :experience => experience, :candidate => candidate%>
    </tr>
    <tr id='experience_edit_<%= experience.id %>' class='hidden'>
		  <%= render 'experiences/edit_form', :experience => experience %>   	
    </tr>
  <% end %>
<% end %>
</table>