<h1>EDUCATION</h1>
<% unless @educations.empty? %>
  <% @educations.order("start_year ASC").order("start_month ASC").each do |education| %>
  	<div id='education_<%= education.id %>'>
  	  <%= render 'show_education', :education => education, :candidate => candidate %>
  	</div>
  	<br />
  <% end %>  
<% end %>