<h1>INTERPERSONAL SKILLS</h1>
<% if candidate == current_user %>
  <%= link_to_function t('add'), "displayNewForm('skill_perso')", :id => "link_add_skill_perso", :class => "block_link"  %>
  <div id='new_skill_perso' class='hidden'>
  </div> 
<% end %>
<% unless @skills_perso.empty? %>
  <% @skills_perso.each do |skill_perso| %>
    <div id='skill_perso_<%= skill_perso.id %>' class='skill_perso'>
   	  <%= render 'show_skill_perso', :skill_perso => skill_perso, :candidate => candidate %>
   	</div>
  <% end %>
<% end %>