<% @educations = @candidate.educations.order('start_year DESC, start_month DESC') %>

<h1>EDUCATION<%= link_to_function 'ADD +', "showForm('education')", :id => 'link_add_education', :class => 'add_link' if @candidate == current_user %></h1>
<div id='new_education' class='hidden'></div> 
<% unless @educations.empty? %>
  <% @educations.order('start_year ASC').order('start_month ASC').each do |education| %>
  	<div id='education_<%= education.id %>'>
  	  <%= render 'educations/show', :education => education %>
  	  <br />
  	</div>  	
  <% end %>  
<% end %>