<h1>PROFESSIONAL EXPERIENCE</h1>
<% unless @experiences.empty? %>
  <% @experiences.order("start_year ASC").order("start_month ASC").each do |experience| %>
    <div id='experience_<%= experience.id %>' class="experience">
   	  <%= render 'show_experience', :experience => experience, :candidate => candidate %>
   	</div>
    <br />
  <% end %>
<% end %>
