<div class='label'>
  <h1>PROFESSIONAL SKILLS</h1>
</div>
<div class='experience'>
  <h1>EXPERIENCE</h1>
</div>
<div class='level'>
  <h1>LEVEL</h1>
</div>
<% if candidate == current_user %>
  <%= link_to_function t('add'), "displayNewForm('skill_pro')", :id => "link_add_skill_pro", :class => "block_link"  %>
  <div id='new_skill_pro' class='hidden'>
  </div> 
<% end %>
<% unless @skills_pro.empty? %>
  <% @skills_pro.each do |skill_pro| %>
   	<%= render 'show_skill_pro', :skill_pro => skill_pro, :candidate => candidate %>
  <% end %>
<% end %>