<h1>PROFESSIONAL EXPERIENCE</h1>
<% unless @experiences.empty? %>
  <% @experiences.order("start_year ASC").order("start_month ASC").each do |experience| %>
    <table id='experience_<%= experience.id %>'>
   	  <%= render 'show_experience', :experience => experience, :candidate => candidate %>
    </table>
  <% end %>
<% end %>
