<div id='professional_experience' class='white_block'>
  <h2><%=t 'experiences.title' %></h2>
  <%= f.fields_for :experiences do |experience_builder| render 'fields_experience', :f => experience_builder end %>
  <%= link_to_add '+', f, :experiences, t('experiences.add') %>
  <br />
</div>