<div id="new" class="white_block">
  <div id="new_engaccino_account">
    <%= render :partial => 'new_engaccino_account' %>
  </div>
  <div id="new_social_connect">
    <%= render :partial => 'new_social_connect' %>
  </div>
</div>