<div id="new" class="white_block">
  <%= render :partial => 'new_with_engaccino_account' %>
  <%= render :partial => 'new_with_social_connect' %>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>