#candidate
  = render 'shared/follow_share', :user => @candidate unless current_user? @candidate
  = render 'candidate', :candidate => @candidate

#resume
  = render 'show_completion', :candidate => @candidate if current_user? @candidate
  = render 'show_resume', :candidate => @candidate