<div class="white_block">
    <div class="left">
      <p><%=t 'user.new.speed_up_by_import' %></p>
    </div>
    <div class="right">
      <%= link_to "#{t('user.new.import_from')} LinkedIn", '#', :class => 'button grey big margin_right slightly_round left' %>
      <%= link_to "#{t('user.new.import_from')} Facebook", '#', :class => 'button grey big slightly_round right' %>
    </div>
    <br /><br />
</div>