<div class="right dashed" width="500">
	<h2><%=t 'user.new.speed_up_by_import' %></h2>
  	<%= link_to "#{t('user.new.import_from')} LinkedIn", '#', :class => 'button grey big_tall margin_right slightly_round left' %>
	<%= link_to "#{t('user.new.import_from')} Facebook", '#', :class => 'button grey big_tall slightly_round right' %>
</div>