<div id="new" class="white_block">
  <%= render :partial => 'new_with_engaccino_account' %>
  <%= render :partial => 'new_with_social_media' %>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <%= link_to t('user.new.set_up_profile'), '#', :id => 'submit', :class => 'button blue round' %>
</div>
