<% interpersonal_skill = interpersonal_skill_candidate.interpersonal_skill %>
<p><%= interpersonal_skill_candidate.description %></p>
<% if current_user == @candidate %>
  <div id='edit_interpersonal_skill_<%= interpersonal_skill_candidate.id %>' class='hidden edit_interpersonal_skill'>
    <%= render 'interpersonal_skills/edit_form', :interpersonal_skill_candidate => interpersonal_skill_candidate %>   	
  </div>
<% end %>