<h2><%= interpersonal_skill.label %></h2>
<p><%= interpersonal_skill.skill_candidates.find_by_candidate_id(@candidate).description %></p>
<% if current_user == @candidate %>
  <div id='edit_interpersonal_skill_<%= interpersonal_skill.id %>' class='hidden edit_interpersonal_skill'>
    <%= render 'interpersonal_skills/edit_form', :interpersonal_skill => interpersonal_skill %>   	
  </div>
<% end %>