html {
  font-family: arial;
  color: #444;
}

body {
  line-height: 1.5;
  background: white;
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  padding-top: 8px;
}

header nav {
  height: 53px;
  width:  100%;
  background-color: #cbcbcb;
  border-bottom: 10px solid #515151;
}

header nav ul {
  margin: 0;
  padding-left: 10px;
}

header nav ul li {
  padding-top:20;
  list-style-type: none;
  display: inline-block;
  padding: 1.1em 1.1em;
  font-size: 13px;
  margin-top: 11px;
  font-weight: bold;
  color: #515151;
}

header nav ul li a {
  text-decoration: none;
  color: black;
}

header nav ul li.selected {
  background-color: #515151;
  font-weight: 500;
}

header nav ul li.selected a {
  color: white;
}

header .logo {
  width: 150px;
  padding: 9px 8px;
}

header #signin_signup {
  float: right;
  padding-top: 72px;
  padding-right: 6px;
  font-size: 12px;
}
header #signin_signup a {
  color: #444;
  font-weight: bold;
}
header #signin_signup a.button {
  color: white;
}

/* COMMON ATTRIBUTES */
.round {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

a.button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #0b7fd2;
  padding: 9px 30px;
  margin: 5px;
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
}
a.button:hover {
  text-decoration: underline;
}

