/* GENERAL */
html {
  font-family: arial;
  color: black;
}

h1 { font-size: 25px; margin: 0; padding: 0; }
h2 { font-size: 20px; font-weight: normal; }
p { margin: 0; padding: 0; }

body {
  line-height: 1.5;
  background: #f1f1f1;
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  padding-top: 8px;
  font-size: 13px;
  font-weight: bold;
}

/* Logo and languages */
header #logo {
  width: 150px;
  padding: 9px 8px;
}
header #languages
{
	float: right;
	padding-right: 20px;
	font-size: 11px;
}
header #languages a
{
	text-decoration: none;
	color: black;
}
header #languages a:hover
{
	text-decoration: underline;
}

/* Menu */
header nav {
  height: 53px;
  width:  100%;
  background-color: #cbcbcb;
  border-bottom: 10px solid #515151;
}
header nav ul {
  margin: 0;
  padding-left: 10px;
}
header nav ul li {
  padding-top:20px;
  list-style-type: none;
  display: inline-block;
  padding: 1.1em 1.1em;
  margin-top: 11px;
  color: #515151;
}
header nav ul li a {
  text-decoration: none;
  color: black;
}
header nav ul li.selected {
  background-color: #515151;
}
header nav ul li.selected a {
  color: white;
}

/* Search bar */
#search_bar
{
	height: 31px;
	width: 34%;
	float: right;
	margin-top: 9px;
	margin-right: 25px;
	padding-left: 5px;
	background-image: url('search.png');
	background-repeat: no-repeat;
	background-position-x: 98%;
	background-position-y: 6px;
	border: 1px solid #969696;
	color: #444;
	font-style: normal;
	font-size: inherit;
	font-weight: 500;
}

/* Sign in or sign up */
header #signin_signup {
  float: right;
  padding-top: 17px;
  padding-right: 20px;
  font-weight: normal;
}
header #signin_signup a {
  color: black;
  font-weight: bold;
}
header #signin_signup a.button {
  color: white;
  margin-left: 5px;
}

/* CONTENT */
#container h1 {
  margin-top: 20px;
  margin-left: 23px;
  margin-bottom: 10px;
}

/* FOOTER */
footer {
  bottom: 0;
  right: 20px;
  padding-top: 60%;
  padding-right: 15px;
  text-align: right;
}

/* SHAPES */
.round {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.slightly_round {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* BUTTONS */
input[type=submit] {
  padding: 9px 30px;
  margin: 0;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  background-color: #0b7fd2;
  color: white;
  border: none;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=submit]:hover {
  text-decoration: underline;
}

a.button {
  padding: 9px 30px;
  margin: 0;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
}
a.button:hover {
  text-decoration: underline;
}
a.button.small {
  padding: 4px 15px;
}
a.button.small.margin_right {
  margin-right: 10px;
}
a.button.big {
  padding: 18px 60px;
}
a.button.big_tall {
  padding: 36px 60px;
}
a.button.margin_right {
  margin-right: 20px;
}

/* BUTTONS COLORS */
a.button.blue {
  background-color: #0b7fd2;
  color: white;
}
a.button.grey {
  background-color: #DDD;
  color: #444;
  font-weight: normal;
}
a.button.grey_gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#ebebeb));
  background: -moz-linear-gradient(top,  #fdfdfd,  #ebebeb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#ebebeb');
  border: 1px solid #cbcbcb;
  color: #444;
  font-weight: normal;
}
a.button.grey_gradient:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#fdfdfd));
  background: -moz-linear-gradient(top,  #ebebeb,  #fdfdfd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#fdfdfd');
  border: 1px solid #cbcbcb;
  color: #444;
  font-weight: normal;
  text-decoration: none;
}

/* BLOCKS */
.white_block {
  background: white;
  margin-left: 10px;
  margin-right: 25px;
  margin-bottom: 10px;
  padding: 15px 20px 20px 14px;
  font-size: 14px;
}
.white_block h2 {
  margin-top: 0px;
  padding: 0;
}
.white_block p {
  font-size: 12px;
}

/* FIELDS */
.field {
  height: 35px;
  width: 250px;
  margin-top: 4px;
  margin-bottom: 4px;
  color: #444;
  font-style: normal;
}
.field.margin_left {
  margin-left: 5px;
}
.field.margin_right {
  margin-right: 5px;
}
.small_field {
  height: 35px;
  width: 65px;
  margin-top: 4px;
  margin-bottom: 4px;
  color: #444;
  font-style: normal;
}
.small_field.margin_left {
  margin-left: 5px;
}
.small_field.margin_right {
  margin-right: 5px;
}
.fields {
  display: inline;
}

/* VISIBILITY */
.hidden {
  display: none;
}

/* POSITIONS */
.left {
  float: left;
  padding-right: 20px;
}
.left.dashed {
  border-right: 2px dashed #444;
  padding-right: 40px;
}
.center {
  left: 45%;
  position: relative;
}
.right {
  float: right;
}
.right.dashed {
  float: left;
  padding-left: 40px;
}

/* FLASH MESSAGES */
.flash {
  font-size: 12px;
  font-weight: 100;
  padding: 5px 6px;
}
.flash.success {
  background: -webkit-gradient(linear, left top, left bottom, from(#D6DE23), to(#bfc61e));
  background: -moz-linear-gradient(top,  #D6DE23,  #bfc61e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D6DE23', endColorstr='#bfc61e');
  color: #6b6f11;
}
.flash.notice {
  background: -webkit-gradient(linear, left top, left bottom, from(#fed828), to(#e9c624));
  background: -moz-linear-gradient(top,  #fed828,  #e9c624);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fed828', endColorstr='#e9c624');
  color: #7f6c12;
}
.flash.error {
  background: -webkit-gradient(linear, left top, left bottom, from(#fa533f), to(#e44a37));
  background: -moz-linear-gradient(top,  #fa533f,  #e44a37);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa533f', endColorstr='#e44a37');
  color: #74241b;
}
.flash a.close {
  height: 15px;
  width: 15px;
  float: right;
  background-image: url('close_flash.png');
  background-repeat: no-repeat;
}
.flash a.close:hover {
  background-position: -15px 0;
}

/* AUTOCOMPLETE */
.ui-autocomplete {
  cursor: pointer;
}

.ui-menu {
  list-style:none;
  padding: 0;
  margin: 0;
  display:block;
  background-color: white;
  z-index: 150;
  width: 300px;
  font-size: 13px;
  color: #444;
  border-left: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
  border-top: 1px solid #f1f1f1;
}
.ui-menu .ui-menu {
  margin-top: -3px;
}
.ui-menu .ui-menu-item {
  margin: 0;
  padding: 0px 0px;
  width: 100%;
  height:  100%;
  border-bottom: 1px solid #f1f1f1
}
.ui-menu .ui-menu-item a {
  text-decoration:none;
  display:block;
  padding: 8px 10px;
  zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
  background-color: #0b7fd2;
  color: white;
}

/* SMALL ICONS */
.trash {
  float:  right;
  padding: 10px;
}
.settings {
  float: right;
  padding: 2px 0px 0px 16px;
}

/* TEXT */
.vertical_text {
  writing-mode:tb-rl;
	-webkit-transform:rotate(270deg);
	-moz-transform:rotate(270deg);
	-o-transform: rotate(270deg);
	white-space: nowrap;
	background-color: #EEE;
}

/* BEST IN PLACE */
.best_in_place {
  padding-left: 3px;
}
.best_in_place:hover {
  cursor: pointer;
  background-image: url('pencil.png');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  padding-right: 15px;
}

.purr {
  font-size: 12px;
  font-weight: 100;
  padding: 5px 6px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fa533f), to(#e44a37));
  background: -moz-linear-gradient(top,  #fa533f,  #e44a37);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa533f', endColorstr='#e44a37');
  color: #74241b;
  position: fixed;
  top: 200px;
  right: 10%;
}
