html {
  font-family: arial;
  color: black;

}

h1 { font-size: 25px; margin: 0; padding: 0; }
h2 { font-size: 20px; font-weight: normal; }

body {
  line-height: 1.5;
  background: #f1f1f1;
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  padding-top: 8px;
  font-size: 13px;
  font-weight: bold;
}

/* Logo and languages */
header #logo {
  width: 150px;
  padding: 9px 8px;
}
header #languages
{
	float: right;
	padding-right: 20px;
	font-size: 11px;
}
header #languages a
{
	text-decoration: none;
	color: black;
}
header #languages a:hover
{
	text-decoration: underline;
}

/* Menu */
header nav {
  height: 53px;
  width:  100%;
  background-color: #cbcbcb;
  border-bottom: 10px solid #515151;
}
header nav ul {
  margin: 0;
  padding-left: 10px;
}
header nav ul li {
  padding-top:20px;
  list-style-type: none;
  display: inline-block;
  padding: 1.1em 1.1em;
  margin-top: 11px;
  color: #515151;
}
header nav ul li a {
  text-decoration: none;
  color: black;
}
header nav ul li.selected {
  background-color: #515151;
}
header nav ul li.selected a {
  color: white;
}

/* Search bar */
#search_bar_input
{
	height: 31px;
	width: 34%;
	float: right;
	margin-top: 9px;
	margin-right: 25px;
	padding-left: 5px;
	background-image: url('search.png');
	background-repeat: no-repeat;
	background-position-x: 98%;
	background-position-y: 6px;
	border: 1px solid #969696;
	color: #7c7777;
	font-style: italic;
	font-size: inherit;
	font-weight: 500;
}

/* Sign in or sign up */
header #signin_signup {
  float: right;
  padding-top: 17px;
  padding-right: 6px;
  font-weight: normal;
}
header #signin_signup a {
  color: black;
  font-weight: bold;
}
header #signin_signup a.button {
  color: white;
  margin-right: 15px;
  margin-left: 5px;
}

/* CONTENT */
#container h1 {
  margin-top: 40px;
  margin-left: 45px;
  margin-bottom: 10px;
}

/* FOOTER */
footer {
  bottom: 0;
  right: 20px;
  padding-left: 15px;
  position: absolute;
  text-align: right;
}

/* COMMON ATTRIBUTES */
.round {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

a.button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #0b7fd2;
  padding: 9px 30px;
  margin: 0;
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
}
a.button:hover {
  text-decoration: underline;
}

.white_block {
  background: white;
  margin-left: 25px;
  margin-right: 25px;
  padding: 5px 20px 30px 20px;
}
.white_block p {
  margin-top: 40px;
}

.field {
  height: 35px;
  width: 300px;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: ;
}


