/* SHARE/EDIT PROFILE, PROFILE COMPLETION HEADER */
#share_edit {
  padding: 10px 0px 0px 10px;
}
#share_edit .button {
  width: 122px;
  padding: 9px 0px;
  margin: 0;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  text-align: center; 
}
#share_edit .blue {
  margin-right: 3px;
}
#share_edit a.button:hover {
  text-decoration: underline;
}
#share_edit input[type=submit] {
  width: 121px;
  padding: 11px 0px;
  margin-right: 4px;
  background-color: #0b7fd2;
  font-size: 13px;
  color: white;
  text-decoration: none;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  font-family: arial;
}
#share_edit input[type=submit]:hover {
  text-decoration: underline;
}

#share_edit #completion_container {
  width: 77.55%;
  padding: 9px 0px;
  margin-left: 4px;
  background-color: #DDD;
  font-size: 13px;
  font-weight: normal;
  display: inline-block;
}
#share_edit #completion_container a {
  font-size: 13px;
  font-weight: bold;
  color: black;
  margin-right: 10px;
  margin-left: 20px;
}
#share_edit #completion_bar_empty {
  width: 300px;
  height: 10px;
  margin-left: 10px;
  margin-right: 20px;
  background-color: #555;
  display: inline-block;
}
#share_edit #completion_bar_full {
  height: 10px;
  background-color: #8bbf42;
  display: block;
}

/* QUICK VIEW CARD */
.card {
  width: 250px;
  padding: 20px 0px 0px 10px;
  font-size: 12px;
  float: left;
}
.card .head {
  background: white;
  padding-left: 12px;
  margin-bottom: 4px;
}
.card .head .identity .photo { /* only for now */
  width: 30px;
  height: 47px;
  margin-left: -3px;
  margin-top: 8px;
  margin-right: 10px;
  padding-left: 20px;
  padding-top: 33px;
  background-color: #444;
  color: white;
  text-align: center;
  font-size: 10px;
}
.card .head .identity .name_place {
  float: left;
  margin-left: 85px;
  position: absolute;
  padding-top: 6px;
  max-width: 150px;
}
.card .head .identity .name_place a {
  color: black;
  text-decoration: none;
}
.card .head .identity .name_place a:hover {
  text-decoration: underline;
}
.card .head .identity .name_place h2 {
  padding-bottom: 2px;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
}
.card .head .job {
  padding-top: 100px;
  padding-bottom: 10px;
  margin: 0;
}
.card .head .job h2 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.card .head .job .status {
  padding-top: 10px;
  color: green;
}
.card .experience {
  height: 80px;
  width: 90px;
  margin-right: 4px;
  padding-left: 12px;
  background: white;
  float: left;
  text-align: left;
  font-size: 25px;  
}
.card .experience h3 { 
  margin: 0;
  font-weight: 100;
  text-align: left;
}
.card .experience h2 {
  color: #BBB;
  font-weight: 600;
  font-size: 10px;
  margin-bottom: 0;
}
.card .degree {
  height: 80px;
  width: 122px;
  padding-left: 12px;
  padding-right: 10px;
  background: white;
  float: right;
  font-size: 13px;
}
.card .degree h2 {
  color: #BBB;
  font-weight: bold;
  font-size: 10px;
}
.card .pro_skills {
  height: 120px;
  padding-left: 12px;
  background: white;
  margin-top: 88px;
  padding-top: 3px;
  font-size: 13px;
  line-height: 2;
}
.card .pro_skills h2 {
  color: #BBB;
  font-weight: bold;
  font-size: 10px;
}
.card .contact {
  height: 130px;
  padding-left: 12px;
  padding-top: 10px;
  margin-top: 4px;
  background: white;
  font-size: 13px;
}
.card .contact h2 {
  font-size: 17px;
  margin-top: 0;
  margin-bottom: 15px;
}
.card .contact .buttons {
  margin-top: 10px;
}

/* RESUME */
#resume {
  width: 77%;
  padding: 20px 0 0 10px;
  float: left;
  font-size: 12px;
}
#resume .experience {
  background-color: white;
  margin-bottom: 10px;
  padding: 12px 35px 0px 10px;
  display: block;
}
#resume .education {
  background-color: white;
  margin-bottom: 10px;
  padding: 12px 35px 0px 10px;
}
#resume h1 {
  color: #BBB;
  font-weight: 600;
  font-size: 10px;
  padding: 0;
  margin: 0 0 15px 0;
}
#resume h2 {
  font-size: 14px;
  margin: 0;
}
#resume p {
  margin-top: 10px;
}

#resume a {
  text-decoration: none;
  color: black;
  margin-right: 5px;
  font-weight: bold;
}

#resume a:hover {
  text-decoration: underline;
}

#resume .empty_field {
  font-style: italic;
  color: #969696;
}

#resume input[type=submit] {
  padding: 3px;
  margin: 0;
}
/* TIMELINE */
#resume #timeline {
  background-color: white;
  margin-bottom: 10px;
  padding: 12px 0px 0 10px;
}
#resume #timeline h1 {
  margin: 0;
}
.timeline_container {
  width: 75%;
  position: absolute;
  display: block;
}
#resume #timeline .horizontal_axis {
  height: 3px;
  bottom: -3px;
  padding: 0;
  margin: 0;
  border-top: 1px solid #CCC;
  display: block;
  position: absolute;
}
#resume #timeline .horizontal_axis .unit_mark {
  border-right: 1px solid #CCC;
  padding-top: 3px;
  height: 0px;
  position: absolute;
  display: block;
  text-align: center;
  color: #CCC;
  font-size: 10px;
}
#resume #timeline .events {
  display: block;
}
#resume #timeline .events .experience_block {
  background-color: #a9e752;
  border-top: 1px solid #EEE;
  border-left: 1px solid #EEE;
  border-right: 1px solid #EEE;
  bottom: 1px;
  display: block;
  position: absolute;
  opacity: 0.85;
}
#resume #timeline .events .experience_block .shade {
  width: 100%;
  height: 100%;
  background-color: #000;
  display: block;
  position: absolute;
}
#resume #timeline .events .education_block {
  background-color: #26a5ff;
  border-top: 1px solid #EEE;
  border-left: 1px solid #EEE;
  border-right: 1px solid #EEE;
  bottom: 1px;
  display: block;
  position: absolute;
  opacity: 0.85;
}
#resume #timeline .events .education_block .shade {
  width: 100%;
  height: 100%;
  background-color: #000;
  display: block;
  position: absolute;
}
#resume #timeline .events .label {
  position: absolute;
  padding-top: 2px;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 25px;
  line-height: 1.1;
  color: #fff;
  opacity: inherit;
}
#resume #timeline .events .vertical_label {
  width:0px;
  top: -7px;
  position: absolute;
  font-size: 13px;
  line-height: 1.1;
  color: #444;
  display: block;
  writing-mode:tb-rl;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform: rotate(90deg);
  filter: flipv fliph;
  white-space: nowrap;
}
#resume #timeline .vertical_line {
  width: 1px;
  display: block;
  position: absolute;
  background-color: #888;
  z-index: 0;
}

/* RESUME */
.resume_table {
  border-collapse: collapse;	
}

.resume_table tr td {
  padding-left: 5px;
}
