#messaged_contacts    { width: 250px; margin: 0 50px 0 22px; float: left;
  .messaged_contact   { height: 50px; margin-bottom: 20px; display: block; cursor: pointer;
    h4                { font-weight: normal; margin: 0 0 4px 0; line-height: 1.2 }
    p                 { font-size: 13px; font-style: italic; line-height: 1 }
    .image            { width: 50px; height: 50px; margin: 3px 10px 0 0 }
  }
}
#conversation         { float: left; width: 500px;
  .loader             { float: left }
  .message            { margin-bottom: 10px; padding: 10px 13px 10px 13px; font-size: 13px; display: block;
    .title            { font-weight: bold; }
    &.authored        { width: 95%; margin-left: 5%; background-color: #d6d6d6; text-align: right }
    &.received        { width: 80%; margin-left: 20%; background-color: white;   text-align: left }
    &.new             { width: 95%; margin-left: 5%; margin-top: 20px; padding: 13px 19px 9px 7px; background-color: #d6d6d6;
      .textarea       { width: 72%; margin: 0 }
      input[type=submit] { float: right }
    }
  }
}