/* QUICK VIEW CARD */

.card_block {
  width: 250px;
  padding: 18px 0px 0px 20px;
  font-size: 12px;
}

/* Head */
.card_block .head {
  background: white;
  padding-left: 12px;
  margin-bottom: 4px;
}
.card_block .head .identity .photo { /* only for now */
  width: 30px;
  height: 47px;
  margin-left: -3px;
  margin-top: 8px;
  margin-right: 10px;
  padding-left: 20px;
  padding-top: 33px;
  background-color: #444;
  color: white;
  text-align: center;
  font-size: 10px;
}
.card_block .head .identity .name_place {
  float: left;
  margin-left: 85px;
  position: absolute;
  padding-top: 6px;
  max-width: 150px;
}
.card_block .head .identity .name_place a {
  color: black;
  text-decoration: none;
}
.card_block .head .identity .name_place a:hover {
  text-decoration: underline;
}
.card_block .head .identity .name_place h2 {
  padding-bottom: 2px;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
}
.card_block .head .job {
  padding-top: 100px;
  padding-bottom: 10px;
  margin: 0;
}
.card_block .head .job h2 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.card_block .head .job .status {
  padding-top: 10px;
  color: green;
}

/* Experience */
.card_block .experience {
  height: 80px;
  width: 80px;
  margin-right: 4px;
  padding-left: 12px;
  background: white;
  float: left;
  text-align: left;
  font-size: 25px;  
}
.card_block .experience h3 { 
  margin: 0;
  font-weight: 100;
  text-align: left;
}
.card_block .experience h2 {
  color: #BBB;
  font-weight: 600;
  font-size: 10px;
  margin-bottom: 0;
}

/* Degree */
.card_block .degree {
  height: 80px;
  width: 102px;
  padding-left: 12px;
  padding-right: 40px;
  background: white;
  float: right;
  font-size: 13px;
}
.card_block .degree h2 {
  color: #BBB;
  font-weight: bold;
  font-size: 10px;
}

/* Professional skills */
.card_block .pro_skills {
  height: 120px;
  padding-left: 12px;
  background: white;
  margin-top: 88px;
  padding-top: 3px;
  font-size: 13px;
  line-height: 2;
}
.card_block .pro_skills h2 {
  color: #BBB;
  font-weight: bold;
  font-size: 10px;
}

/* Contact information */
.card_block .contact {
  height: 120px;
  padding-left: 12px;
  padding-top: 10px;
  margin-top: 4px;
  background: white;
  font-size: 13px;
}
.card_block .contact h2 {
  font-size: 17px;
  margin-top: 0;
  margin-bottom: 15px;
}
.card_block .contact .buttons {
  margin-top: 10px;
}