<div id='languages'>
  <%= link_to 'english', url_for(:locale => 'en'), { :title => 'Engaccino in English' } %>
   | 
  <%= link_to 'français', url_for(:locale => 'fr'), { :title => 'Engaccino en Français' } %>
</div>