%form#search_bar_form{:method => 'POST', :action => '/search/index/'}
  = text_field_tag 'search', nil, :placeholder => t('search_bar'), :title => t('search_bar_title'), :id => 'search_bar', :class => 'search_bar round'